body {
    overflow-x: hidden;
}

#results {
    margin-top: 20px;
}

#date{
    background-color: transparent;
    text-align: center;
    font-size: 20px;
}

#bookingTableContainer {
    margin-top: 20px;
}

#bookingTable {
    width: 100%;
    text-align: left;
}

#bookingTable th, #bookingTable td {
    text-align: left;
    vertical-align: middle;
    border: 1px solid #dee2e6;
}

.table-hover tbody tr:hover {
    background-color: #f5f5f5;
}

#results{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#results > * {
    flex: 1 1 30%; /* Ogni elemento prenderà il 30% della larghezza della riga, quindi ci saranno al massimo 3 elementi per riga */
}
