#bsb-calendar-1 {
    overflow: hidden !important;
}

.aggiungi-evento {
    display: none;
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1000 !important;
}